
    <div id="layout-header">
        <nav>
            <h2>Codeial</h2>

                <% if(locals.user){ %>
        
                        <a href="/users/profile" id = "user-name">
                            <%= user.name %>
                        </a>
                        <a href="/users/sign-out" id="sign-out-button">Sign out</a>
                <%}else{ %>
        
                        <a href="/users/sign-in" id = "sign-in-button">Sign In</a>

                        <a href="/users/sign-up" id="sign-out-button"> Sign Up</a>
        
                <%} %>

        </nav>
    </div>
    

    