<link rel="stylesheet" href="/css/sign-up.css">

<button id="google-sign-in-button">
    <a id="google-sign-in-a-tag" href="/users/auth/google"> Google SignIn/SignUp </a>
</button>

<form action="/users/create" method="POST">
    <input id="email-form" type="text" name= "name" placeholder="Your Name" required>
    <input id="password-form" type="email" name= "email" placeholder="Your Email" required>
    <input id="password-form" type="password" name= "password" placeholder="Your password" required>
    <input id="password-form" type="password" name= "confirm_password" placeholder="Confirm password" required>
    <input id="sign-in-butto" type="Submit" value ="Sign Up">
</form>

