#layout-footer {
  color: white;
  background: black;
  margin-top: 3%;
  height: 60px;
  padding: 2px 5px;
  display: flex;
  justify-content: flex-start; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
