#layout-header nav {
  display: flex;
  padding: 0 10px;
  background: black;
  color: white;
  height: 60px;
  box-shadow: 1px 1px 1px 1px lightgrey; }
  #layout-header nav #user-name {
    margin-left: 73%;
    padding-top: 20px;
    font-size: larger; }
  #layout-header nav #sign-out-button {
    margin-left: 2.5%;
    padding-top: 20px;
    font-size: larger; }
  #layout-header nav #sign-in-button {
    margin-left: 70%;
    padding-top: 20px;
    font-size: larger; }
  #layout-header nav a {
    color: white;
    text-decoration: none; }
